.tópicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.tópicos__titulo{
 color: var(--branco);
  font-weight: 300;
  margin: 1em;
}

.tópicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópico__item{
    margin: 2em 0.5em;
}

.tópico__link{
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}